---------------------------------------------
   ---- CREACION DE LA BASE DE DATOS-----
---------------------------------------------
USE master
go
CREATE DATABASE FINALPROG
go

USE FINALPROG
GO
--------------------------------------------------------
 -- CREACION DE PROVINCIAS Y LOCALIDADES -- 
--------------------------------------------------------
CREATE TABLE [PROVINCIAS](
	[cod_provincia] [int] NOT NULL,
	[descripcion_provincia] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED ([cod_provincia] ASC)
)
CREATE TABLE [LOCALIDADES](
	[cod_postal] [int] NOT NULL,
	[desc_localidad] [nvarchar](50) NULL,
	[cod_provincia] [int] NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED ([cod_postal] ASC)
)
---------------------------------------------------
 --- CREACION DE LAS OTRAS TABLAS ---
---------------------------------------------------
CREATE TABLE MARCAS
(
  ID_MARCA varchar(15) NOT NULL,
  NOMBRE_MARCA varchar(20) NOT NULL,
  ESTADO_MARCA bit NOT NULL default 1,
  Constraint PK_MARCA PRIMARY KEY (ID_MARCA)
)
GO
CREATE TABLE CELULARES
(
  ID_MODELO varchar(15) NOT NULL,
  ID_MARCA_CEL varchar(15) NOT NULL,
  DESCRIPCION_CEL varchar(100) NOT NULL,
  STOCK_CEL int NOT NULL default 1,
  PRECIO_UNITARIO_CEL float NOT NULL,
  UBICACION_IMAGEN_CEL varchar (100) NOT NULL,
  ESTADO_CEL bit NOT NULL default 1,
  Constraint PK_CELULARES PRIMARY KEY (ID_MODELO),
  Constraint FK_CELULARES FOREIGN KEY (ID_MARCA_CEL) references MARCAS(ID_MARCA)
)
GO
CREATE TABLE ROL
(
  ID_ROL varchar (1) NOT NULL,
  ROL varchar (20) NOT NULL
  Constraint PK_ROL PRIMARY KEY (ID_ROL)
)
GO
CREATE TABLE USUARIOS
(
  DNI_USU varchar(15) NOT NULL,
  NOMBRE_USU varchar(30) NOT NULL,
  APELLIDO_USU varchar(30) NOT NULL,
  TELEFONO_USU varchar(20) NOT NULL,
  ID_PROVINCIA_USU INT NOT NULL references PROVINCIAS(cod_provincia),
  ID_LOCALIDAD_USU INT NOT NULL references LOCALIDADES(cod_postal),
  DIRECCION_USU varchar(30) NOT NULL,
  CONTRASEÑA varchar(15) NOT NULL,
  ID_ROL_USU varchar (1) NOT NULL references ROL(ID_ROL),
  ESTADO_USU bit NOT NULL default 1,
  Constraint PK_USUARIOS PRIMARY KEY (DNI_USU)
)
GO
 CREATE TABLE FORMA_PAGO
(
  ID_FORMAPAGO_FP char(1) NOT NULL,
  FORMAPAGO_FP varchar (20) NOT NULL,
  ESTADO_FP bit NOT NULL default 1,
  Constraint PK_FORMA_PAGO PRIMARY KEY (ID_FORMAPAGO_FP)
)
GO
CREATE TABLE FORMA_ENVIO
(
   ID_FORMAENVIO_FE char(1) NOT NULL,
   FORMAENVIO_FE varchar (20) NOT NULL,
   ESTADO_FE bit NOT NULL default 1,
  Constraint PK_FORMA_ENVIO PRIMARY KEY (ID_FORMAENVIO_FE)
)
GO
CREATE TABLE VENTAS
(
  ID_VTA int IDENTITY(1,1) NOT NULL,
  ID_USU_VTA varchar(15) NOT NULL,
  ID_CLI_VTA varchar(15) NOT NULL,
  FECHA_VTA date NOT NULL,
  ID_FORMAENVIO_VTA char(1) NOT NULL default 1,
  ID_FORMAPAGO_VTA char(1) NOT NULL default 1,
  IMPORTETOTAL float NOT NULL,
  Constraint PK_VENTAS PRIMARY KEY (ID_VTA),
  Constraint FK_VENTAS_USU FOREIGN KEY (ID_USU_VTA) references USUARIOS (DNI_USU), 
  Constraint FK_VENTAS_CLI FOREIGN KEY (ID_CLI_VTA) references USUARIOS (DNI_USU),
  Constraint FK_VENTAS_FE FOREIGN KEY (ID_FORMAENVIO_VTA) references FORMA_ENVIO(ID_FORMAENVIO_FE),
  Constraint FK_VENTAS_FP FOREIGN KEY (ID_FORMAPAGO_VTA) references FORMA_PAGO(ID_FORMAPAGO_FP),
)
GO
CREATE TABLE DETALLES_VENTA
(
  ID_VTA_DV int NOT NULL,
  ID_DV int IDENTITY(1,1) NOT NULL,
  ID_MODELO_DV varchar (15) NOT NULL,
  CANTIDAD_DV int NOT NULL,
  PU_DV float NOT NULL,
  Constraint PK_DETALLES_VENTAS PRIMARY KEY (ID_DV, ID_VTA_DV),
  Constraint FK_ID_MODELO_DV FOREIGN KEY (ID_MODELO_DV) references CELULARES(ID_MODELO),
  Constraint FK_VENTAS_DV FOREIGN KEY (ID_VTA_DV) references VENTAS(ID_VTA)
)
GO
---------------------------------------------------------------
-- PROCEDIMIENTOS ALMACENADOS DE ALTA, BAJA Y MODIFICACION --
---------------------------------------------------------------
 
USE FINALPROG
GO
-------------------------------
       -- MARCAS --
-------------------------------
CREATE Procedure AltaMarca
 @IDMARCA varchar(15),
 @NOMBREMARCA varchar(30)
AS
 INSERT INTO MARCAS (ID_MARCA,
		 NOMBRE_MARCA)
	SELECT @IDMARCA,
		 @NOMBREMARCA
GO

CREATE Procedure ModificarMarca
 @IDMARCA varchar(15),
 @NOMBREMARCA varchar(30)
AS
 UPDATE MARCAS
	SET NOMBRE_MARCA = @NOMBREMARCA
	   WHERE ID_MARCA = @IDMARCA
GO

CREATE Procedure BajaLogicaMarca
@IDMARCA varchar(15)
AS
  UPDATE MARCAS
	Set ESTADO_MARCA = 0
		WHERE ID_MARCA = @IDMARCA
GO
------------------------
     -- CELULAR --
------------------------
CREATE Procedure AltaCelular
 @IDMODELOCEL varchar(15),
 @IDMARCACEL varchar(15),  
 @PRECIOUNITARIOCEL float,
 @STOCKCEL int,
 @DESCRIPCIONCEL varchar(100)
AS
 INSERT INTO CELULARES (ID_MODELO,
		 ID_MARCA_CEL, 
		 PRECIO_UNITARIO_CEL,
		 STOCK_CEL,
		 DESCRIPCION_CEL)
SELECT @IDMODELOCEL,
		 @IDMARCACEL,
		 @PRECIOUNITARIOCEL,
		 @STOCKCEL,
		 @DESCRIPCIONCEL
GO

CREATE Procedure ModificarCelular
 @IDMODELOCEL varchar(15),
 @IDMARCACEL varchar(15),  
 @PRECIOUNITARIOCEL float,
 @STOCKCEL int,
 @DESCRIPCIONCEL varchar(100)
AS
 UPDATE CELULARES
  SET ID_MARCA_CEL = @IDMARCACEL,
    PRECIO_UNITARIO_CEL = @PRECIOUNITARIOCEL,
    STOCK_CEL = @STOCKCEL,
    DESCRIPCION_CEL = @DESCRIPCIONCEL
    WHERE ID_MODELO = @IDMODELOCEL
GO

CREATE Procedure BajaLogicaCelular
@IDMODELOCEL varchar(15)
AS
UPDATE CELULARES
	Set ESTADO_CEL = 0
	WHERE ID_MODELO = @IDMODELOCEL
GO
----------------------------------
        --- ROL ---
----------------------------------

CREATE Procedure AltaRol
@IDROL varchar (1),
@ROL varchar (20)
AS
 INSERT INTO ROL(ID_ROL,
		 ROL)
	 SELECT @IDROL,
		  @ROL
GO

CREATE Procedure ModificarRol
@IDROL varchar (1),
@ROL varchar (20)
AS
 UPDATE ROL
	SET ROL = @ROL
		WHERE ID_ROL = @IDROL
GO
--------------------------
    --  USUARIOS  --
--------------------------    
CREATE Procedure AltaUsuario
 @DNIUSU varchar(15),
 @NOMBREUSU varchar(30),
 @APELLIDOUSU varchar(30),
 @TELEFONOUSU varchar(20),
 @PROVINCIAUSU int,
 @LOCALIDADUSU int,
 @DIRRECIONUSU varchar(30),
 @CONTRASEÑA varchar(15),
 @ROL varchar(1)
AS
 INSERT INTO USUARIOS  (DNI_USU,
						NOMBRE_USU,
						APELLIDO_USU,
						TELEFONO_USU,
						ID_PROVINCIA_USU,
						ID_LOCALIDAD_USU,
						DIRECCION_USU,
						CONTRASEÑA,
						ID_ROL_USU)
   SELECT	@DNIUSU,
			@NOMBREUSU,
			@APELLIDOUSU, 
			@TELEFONOUSU,
			@PROVINCIAUSU,
			@LOCALIDADUSU,
			@DIRRECIONUSU,
			@CONTRASEÑA,
			@ROL
GO

CREATE Procedure ModificarUsuario
 @DNIUSU varchar(15),
 @NOMBREUSU varchar(30),
 @APELLIDOUSU varchar(30),
 @TELEFONOUSU varchar(20),
 @PROVINCIAUSU int,
 @LOCALIDADUSU int,
 @DIRRECIONUSU varchar(30),
 @CONTRASEÑA varchar(15),
 @ROL varchar(1)
AS
  UPDATE USUARIOS
	SET	NOMBRE_USU = @NOMBREUSU, 
		APELLIDO_USU = @APELLIDOUSU, 
		DNI_USU = @DNIUSU, 
		TELEFONO_USU = @TELEFONOUSU, 
		ID_PROVINCIA_USU=@PROVINCIAUSU,
		ID_LOCALIDAD_USU=@LOCALIDADUSU,
		DIRECCION_USU = @DIRRECIONUSU, 
		CONTRASEÑA = @CONTRASEÑA, 
		ID_ROL_USU = @ROL
	  WHERE DNI_USU = @DNIUSU
GO

CREATE Procedure BajaLogicaUsuario
@DNIUSU varchar(15)
AS
 UPDATE USUARIOS
	Set ESTADO_USU = 0
		WHERE DNI_USU = @DNIUSU
GO

----------------------------------
        --- VENTAS ---
----------------------------------

CREATE Procedure AltaVenta
@IDUSUVTA varchar(15),
@IDCLIVTA varchar(15),
@IDFORMAENVIOVTA char(1),
@IDFORMAPAGOVTA char(1),
@IMPORTE float
AS
INSERT INTO VENTAS (ID_USU_VTA,
					ID_CLI_VTA,
					FECHA_VTA, 
					ID_FORMAENVIO_VTA, 
					ID_FORMAPAGO_VTA, 
					IMPORTETOTAL)
    SELECT  @IDUSUVTA,
			@IDCLIVTA, 
			GETDATE(), 
			@IDFORMAENVIOVTA, 
			@IDFORMAPAGOVTA, 
			@IMPORTE
GO
----------------------------------
    --- DETALLE DE VENTAS ---
----------------------------------

CREATE Procedure AltaDetalleVenta
@IDMODELODV varchar (15),
@CANTIDADDV int,
@PUDV float
AS
 INSERT INTO DETALLES_VENTA(ID_MODELO_DV,
							CANTIDAD_DV,
							PU_DV)
SELECT @IDMODELODV,
	   @CANTIDADDV,
  	   @PUDV
GO
----------------------------------
    --- FORMA DE PAGO ---
----------------------------------

CREATE Procedure AltaFormaDePago
 @IDFORMAPAGOFP char (1),
 @FORMAPAGOFP varchar (20)
AS
 INSERT INTO FORMA_PAGO(ID_FORMAPAGO_FP,
		FORMAPAGO_FP)
	SELECT @IDFORMAPAGOFP,
		@FORMAPAGOFP
GO

CREATE Procedure ModificarFormaDePago
 @IDFORMAPAGOFP char (1),
 @FORMAPAGOFP varchar (20)
AS
 UPDATE  FORMA_PAGO
    SET FORMAPAGO_FP = @FORMAPAGOFP
	WHERE ID_FORMAPAGO_FP = @IDFORMAPAGOFP

GO

CREATE Procedure BajaLogicaFormaDePago
@IDFORMAPAGOFP char (1)
AS
 UPDATE FORMA_PAGO
   Set ESTADO_FP = 0
     WHERE ID_FORMAPAGO_FP = @IDFORMAPAGOFP
GO

----------------------------------
    --- FORMA DE ENVIO ---
----------------------------------

CREATE Procedure AltaFormaDeEnvio
 @IDFORMAENVIOFE char (1),
 @FORMAENVIOFE varchar (20)
AS
 INSERT INTO FORMA_ENVIO (ID_FORMAENVIO_FE,
		 FORMAENVIO_FE)
	SELECT @IDFORMAENVIOFE,
		 @FORMAENVIOFE
GO

CREATE Procedure ModificarFormaDeEnvio
 @IDFORMAENVIO char (1),
 @FORMAENVIO varchar (20)
AS
  UPDATE FORMA_ENVIO
   SET FORMAENVIO_FE = @FORMAENVIO
	WHERE ID_FORMAENVIO_FE = @IDFORMAENVIO
GO

CREATE Procedure BajaLogicaFormaDeEnvio
@IDFORMAENVIOFE char (1)
AS
 UPDATE FORMA_ENVIO
  Set ESTADO_FE = 0
   WHERE ID_FORMAENVIO_FE = @IDFORMAENVIOFE
GO

--------------------------   DATOS   ------------------------
----> provincias
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (1, N'CABA')
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (2, N'Buenos Aires')
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (3, N'Catamarca')
GO
----> localidades
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1000, N'RECOLETA', 1)
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1002, N'MONTSERRAT', 1)
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1004, N'PALERMO', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
----> marcas
INSERT [MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00001', N'NOKIA', 1)
INSERT [MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00002', N'SAMSUNG', 1)
INSERT [MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00003', N'MOTOROLA', 1) 
GO
----> forma de pago
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'C', N'TARJETA CREDITO', 1)
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'D', N'TARJETA DEBITO', 1)
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'E', N'EFECTIVO', 1)
GO
----> forma de envio
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'C', N'A CORREO', 1)
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'D', N'A DOMICILIO', 1)
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'S', N'A SUCURSAR', 1)
GO
----> rol
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'A', N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'C', N'CLIENTE')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'E', N'EMPLEADO')
GO
----> celulares
INSERT [dbo].[CELULARES] ([ID_MODELO], [ID_MARCA_CEL], [DESCRIPCION_CEL], [STOCK_CEL], [PRECIO_UNITARIO_CEL], [UBICACION_IMAGEN_CEL], [ESTADO_CEL]) 
VALUES (N'A30', N'M00002', N'RAM 3GB, ROM 32GB,BATERIA 3000 Mah, PANTALLA 6,2', 10, 21999, N'../Imagenes/samsungA30', 1)
INSERT [dbo].[CELULARES] ([ID_MODELO], [ID_MARCA_CEL], [DESCRIPCION_CEL], [STOCK_CEL], [PRECIO_UNITARIO_CEL], [UBICACION_IMAGEN_CEL], [ESTADO_CEL]) 
VALUES (N'G7POWER', N'M00003', N'RAM 3GB, ROM 32 GB, BATERIA 5000 Mah', 10, 18999, N'../imagenes/motog7power', 1)
GO
----> usuarios
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) 
VALUES (N'29183748', N'ADRIANA', N'RUIZ', N'1556263821', 5, 3460, N'BELGRANO 738', N'2222', N'C', 1)
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) 
VALUES (N'35273842', N'MARCELA', N'SANCHEZ', N'1583959345', 1, 1426, N'PERON 1294', N'4321', N'E', 1)
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) 
VALUES (N'37829483', N'JOSE', N'AVALOS', N'1582839495', 2, 1650, N'INDEPENDENCIA 583', N'1111', N'C', 1)
GO
----> ventas
SET IDENTITY_INSERT [dbo].[VENTAS] ON
INSERT [dbo].[VENTAS] ([ID_VTA], [ID_USU_VTA], [ID_CLI_VTA],  [FECHA_VTA], [ID_FORMAENVIO_VTA], [ID_FORMAPAGO_VTA], [IMPORTETOTAL]) VALUES (1, N'37829483', N'37829483', CAST(0x80400B00 AS Date), N'D', N'E', 21999)
INSERT [dbo].[VENTAS] ([ID_VTA], [ID_USU_VTA], [ID_CLI_VTA], [FECHA_VTA], [ID_FORMAENVIO_VTA], [ID_FORMAPAGO_VTA], [IMPORTETOTAL]) VALUES (2, N'48372938', N'48372938', CAST(0x80400B00 AS Date), N'S', N'D', 40998)
SET IDENTITY_INSERT [dbo].[VENTAS] OFF
GO
----> detalles de ventas
SET IDENTITY_INSERT [dbo].[DETALLES_VENTA] ON
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) 
VALUES (1, 1, N'A30', 1, 21999)
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) 
VALUES (2, 2, N'A30', 1, 21999)
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) 
VALUES (2, 3, N'G7POWER', 1, 18999)
SET IDENTITY_INSERT [dbo].[DETALLES_VENTA] OFF

 
USE FINALPROG
GO

--------------------------------------------------------------
      --- Listados de Registros por Tabla---
--------------------------------------------------------------

CREATE Procedure MostrarMarcas
AS
   SELECT ID_MARCA AS Id,
	   NOMBRE_MARCA AS Marca
	FROM MARCAS
	  WHERE ESTADO_MARCA = 1
	  ORDER BY NOMBRE_MARCA
GO

CREATE Procedure MostrarCelulares
AS
    SELECT ID_MODELO as Modelo,
		   NOMBRE_MARCA as Marca,
		   DESCRIPCION_CEL as Descripcion,
		   STOCK_CEL as Stock,
		   PRECIO_UNITARIO_CEL as Precio,
		   UBICACION_IMAGEN_CEL as Imagen
	FROM CELULARES inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	  WHERE ESTADO_CEL = 1
	  ORDER BY NOMBRE_MARCA
GO

CREATE Procedure MostrarRoles
AS
   SELECT ID_ROL AS Id,
		  ROL AS Rol
	FROM ROL
GO

CREATE Procedure MostrarUsuarios
AS
   SELECT  DNI_USU AS DNI,
		   NOMBRE_USU AS Nombre,
		   APELLIDO_USU AS Apellido,
		   TELEFONO_USU AS Telefono,
		   descripcion_provincia AS Provincia,
		   desc_localidad AS Localidad,
		   DIRECCION_USU AS Direccion,
		   ROL AS Rol
	FROM USUARIOS inner join PROVINCIAS on (ID_PROVINCIA_USU=cod_provincia)
		       inner join LOCALIDADES on (ID_LOCALIDAD_USU=cod_postal)
		       inner join ROL on(ID_ROL_USU=ID_ROL)
	  WHERE ESTADO_USU = 1
	  ORDER BY DNI_USU
GO

CREATE Procedure MostrarFormaPago
AS
   SELECT ID_FORMAPAGO_FP AS Id,
		  FORMAPAGO_FP AS FormaDePago
	FROM FORMA_PAGO
	  WHERE ESTADO_FP = 1
GO

CREATE Procedure MostrarFormaEnvio
AS
   SELECT ID_FORMAENVIO_FE AS Id,
		  FORMAENVIO_FE AS FormaDePago
	FROM FORMA_ENVIO
	  WHERE ESTADO_FE = 1
GO

CREATE Procedure MostrarVenta
AS
    SELECT ID_VTA AS Id,
		   ID_USU_VTA AS Vendedor,
		   ID_CLI_VTA AS Cliente,
		   NOMBRE_USU AS Nombre,
		   APELLIDO_USU AS Apellido,
		   FECHA_VTA AS Fecha,
		   FORMAENVIO_FE AS FormaDeEnvio,
		   FORMAPAGO_FP AS FormaDePago,
		   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
		     ORDER BY FECHA_VTA
GO

CREATE Procedure MostrarProvincias
AS
   SELECT cod_provincia AS Id,
		  descripcion_provincia AS Provincia
	FROM PROVINCIAS
	ORDER BY descripcion_provincia
GO

--------------------------------------------------------------
      --- Busqueda de Registros ---
--------------------------------------------------------------

------> LOCALIDADES
CREATE Procedure MostrarLocalidadesPorProvincia
 @IDPROVINCIA int
AS
   SELECT cod_postal AS Id,
   desc_localidad AS Localidad
	FROM LOCALIDADES
	  WHERE cod_provincia = @IDPROVINCIA
	  ORDER BY desc_localidad
GO

------> USUARIOS


CREATE Procedure MostrarUsuariosPorId
@DNIUSU varchar(15)
AS
   SELECT DNI_USU as DNI,
	    NOMBRE_USU as Nombre,
	    APELLIDO_USU as Apellido,
	    TELEFONO_USU as Telefono,
	    descripcion_provincia as Provincia,
	    desc_localidad as Localidad,
	    DIRECCION_USU as Direccion,
	    ROL as Rol
	FROM USUARIOS inner join PROVINCIAS on (ID_PROVINCIA_USU=cod_provincia)
	 		  inner join LOCALIDADES on (ID_LOCALIDAD_USU=cod_postal)
	 		  inner join ROL on(ID_ROL_USU=ID_ROL)
	  WHERE ESTADO_USU = 1 AND DNI_USU=@DNIUSU
	  ORDER BY DNI_USU
GO


CREATE Procedure MostrarUsuariosPorRol
@IDROL varchar(1)
AS
   SELECT DNI_USU as DNI,
	  NOMBRE_USU as Nombre,
	  APELLIDO_USU as Apellido,
	  TELEFONO_USU as Telefono,
	  descripcion_provincia as Provincia,
	  desc_localidad as Localidad,
	  DIRECCION_USU as Direccion,
	  ROL as Rol
	FROM USUARIOS inner join PROVINCIAS on (ID_PROVINCIA_USU=cod_provincia)
			  inner join LOCALIDADES on (ID_LOCALIDAD_USU=cod_postal)
			  inner join ROL on(ID_ROL_USU=ID_ROL)
	  WHERE ESTADO_USU = 1 AND ID_ROL_USU=@IDROL
	  ORDER BY DNI_USU
GO


------> VENTAS


CREATE Procedure MostrarVentasPorVendedor
@DNIUSU varchar(15)
AS
   SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where ID_USU_VTA=@DNIUSU
	ORDER BY FECHA_VTA
GO


CREATE Procedure MostrarVentasPorCliente
@DNIUSU varchar(15)
AS
   SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where ID_CLI_VTA=@DNIUSU
	ORDER BY FECHA_VTA
GO


CREATE Procedure MostrarVentaPorId
@IDVENTA int
AS
   SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where ID_VTA=@IDVENTA
	ORDER BY FECHA_VTA
GO

CREATE Procedure MostrarVentaPorFecha
@FECHA DATE
AS
   SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where FECHA_VTA=@FECHA
	ORDER BY FECHA_VTA
GO

CREATE Procedure MostrarVentasEntreFechas
@FECHAINICIO DATE,
@FECHAFIN DATE
AS
   SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where FECHA_VTA>@FECHAINICIO AND FECHA_VTA<@FECHAFIN
	ORDER BY FECHA_VTA
GO

CREATE Procedure MostrarVentasPorFormaDePago
@IDFORMAPAGOVENTA char
AS
SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where ID_FORMAPAGO_VTA = @IDFORMAPAGOVENTA
	ORDER BY FECHA_VTA
GO

CREATE Procedure MostrarVentasPorFormaDeEnvio
@IDFORMAENVIOVENTA char
AS
SELECT ID_VTA AS Id,
	   ID_USU_VTA AS Vendedor,
	   ID_CLI_VTA AS Cliente,
	   NOMBRE_USU AS Nombre,
	   APELLIDO_USU AS Apellido,
	   FECHA_VTA AS Fecha,
	   FORMAENVIO_FE AS FormaDeEnvio,
	   FORMAPAGO_FP AS FormaDePago,
	   IMPORTETOTAL AS Total
	FROM VENTAS inner join USUARIOS on(ID_CLI_VTA=DNI_USU)
		     inner join FORMA_ENVIO on (ID_FORMAENVIO_VTA=ID_FORMAENVIO_FE)
		     inner join FORMA_PAGO on (ID_FORMAPAGO_VTA = ID_FORMAPAGO_FP)
	where ID_FORMAENVIO_VTA = @IDFORMAENVIOVENTA
	ORDER BY FECHA_VTA
GO

------> DETALLES DE VENTAS

CREATE Procedure MostrarDetallesPorIdVenta
@IDVENTA int
AS
   SELECT ID_DV AS Detalle,
	  ID_MODELO_DV AS Modelo,
	  NOMBRE_MARCA AS Marca,
	  CANTIDAD_DV AS Cantidad,
	  PU_DV AS PrecioUnitario,
	  (CANTIDAD_DV*PU_DV) AS Total
	FROM DETALLES_VENTA inner join CELULARES on (ID_MODELO_DV=ID_MODELO)
				inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	WHERE ID_VTA_DV=@IDVENTA
GO

CREATE Procedure MostrarDetallesPorIdModelo
@IDMODELOCEL varchar(15)
AS
   SELECT ID_DV AS Detalle,
	  ID_MODELO_DV AS Modelo,
	  NOMBRE_MARCA AS Marca,
	  CANTIDAD_DV AS Cantidad,
	  PU_DV AS PrecioUnitario,
	  (CANTIDAD_DV*PU_DV) AS Total
	FROM DETALLES_VENTA inner join CELULARES on (ID_MODELO_DV=ID_MODELO)
				inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	WHERE ID_MODELO_DV=@IDMODELOCEL
GO

CREATE Procedure MostrarDetallesPorIdMarca
@IDMARCA varchar(15)
AS
   SELECT ID_DV AS Detalle,
	  ID_MODELO_DV AS Modelo,
	  NOMBRE_MARCA AS Marca,
	  CANTIDAD_DV AS Cantidad,
	  PU_DV AS PrecioUnitario,
	  (CANTIDAD_DV*PU_DV) AS Total
	FROM DETALLES_VENTA inner join CELULARES on (ID_MODELO_DV=ID_MODELO)
				inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	WHERE ID_MARCA_CEL=@IDMARCA
GO

------> CELULARES

CREATE Procedure MostrarCelularesPorIdMarca
@IDMARCA varchar(15)
AS
   SELECT ID_MODELO as Modelo,
	  NOMBRE_MARCA as Marca,
	  DESCRIPCION_CEL as Descripcion,
	  STOCK_CEL as Stock,
	  PRECIO_UNITARIO_CEL as Precio,
	  UBICACION_IMAGEN_CEL as Imagen
	FROM CELULARES inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	  WHERE ESTADO_CEL = 1 AND ID_MARCA_CEL=@IDMARCA
GO

CREATE Procedure MostrarCelularesPorIdModelo
@IDMODELOCEL varchar(15)
AS
   SELECT ID_MODELO as Modelo,
	  NOMBRE_MARCA as Marca,
	  DESCRIPCION_CEL as Descripcion,
	  STOCK_CEL as Stock,
	  PRECIO_UNITARIO_CEL as Precio,
	  UBICACION_IMAGEN_CEL as Imagen
	FROM CELULARES inner join MARCAS on (ID_MARCA_CEL=ID_MARCA)
	  WHERE ESTADO_CEL = 1 AND ID_MODELO=@IDMODELOCEL
GO

------> MARCAS
CREATE Procedure MostrarMarcasPorId
@IDMARCA varchar(15)
AS
   SELECT ID_MARCA AS Id,
	  NOMBRE_MARCA AS Marca
	FROM MARCAS
	  WHERE ESTADO_MARCA = 1 AND ID_MARCA=@IDMARCA
GO

CREATE Procedure MostrarMarcasPorNombre
@NOMBREMARCA varchar(20)
AS
   SELECT ID_MARCA AS Id,
	  NOMBRE_MARCA AS Marca
	FROM MARCAS
	  WHERE ESTADO_MARCA = 1 AND NOMBRE_MARCA=@NOMBREMARCA
GO

