USE [FINALPROG]
GO
/****** Object:  Table [dbo].[FORMA_PAGO]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_PAGO](
	[ID_FORMAPAGO_FP] [char](1) NOT NULL,
	[FORMAPAGO_FP] [varchar](20) NOT NULL,
	[ESTADO_FP] [bit] NOT NULL,
 CONSTRAINT [PK_FORMA_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMAPAGO_FP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'C', N'TARJETA CREDITO', 1)
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'D', N'TARJETA DEBITO', 1)
INSERT [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP], [FORMAPAGO_FP], [ESTADO_FP]) VALUES (N'E', N'EFECTIVO', 1)
/****** Object:  Table [dbo].[FORMA_ENVIO]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_ENVIO](
	[ID_FORMAENVIO_FE] [char](1) NOT NULL,
	[FORMAENVIO_FE] [varchar](20) NOT NULL,
	[ESTADO_FE] [bit] NOT NULL,
 CONSTRAINT [PK_FORMA_ENVIO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMAENVIO_FE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'C', N'A CORREO', 1)
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'D', N'A DOMICILIO', 1)
INSERT [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE], [FORMAENVIO_FE], [ESTADO_FE]) VALUES (N'S', N'A SUCURSAR', 1)
/****** Object:  Table [dbo].[ROL]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [varchar](1) NOT NULL,
	[ROL] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'A', N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'C', N'CLIENTE')
INSERT [dbo].[ROL] ([ID_ROL], [ROL]) VALUES (N'E', N'EMPLEADO')
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[cod_provincia] [int] NOT NULL,
	[descripcion_provincia] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[cod_provincia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (1, N'CABA')
INSERT [dbo].[PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (3, N'Catamarca')
/****** Object:  Table [dbo].[MARCAS]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID_MARCA] [varchar](15) NOT NULL,
	[NOMBRE_MARCA] [varchar](20) NOT NULL,
	[ESTADO_MARCA] [bit] NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00001', N'NOKIA', 1)
INSERT [dbo].[MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00002', N'SAMSUNG', 1)
INSERT [dbo].[MARCAS] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO_MARCA]) VALUES (N'M00003', N'MOTOROLA', 1)
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[cod_postal] [int] NOT NULL,
	[desc_localidad] [nvarchar](50) NULL,
	[cod_provincia] [int] NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[cod_postal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1000, N'RECOLETA', 1)
INSERT [dbo].[LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1002, N'MONTSERRAT', 1)
INSERT [dbo].[LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1004, N'PALERMO', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
/****** Object:  Table [dbo].[CELULARES]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CELULARES](
	[ID_MODELO] [varchar](15) NOT NULL,
	[ID_MARCA_CEL] [varchar](15) NOT NULL,
	[DESCRIPCION_CEL] [varchar](100) NOT NULL,
	[STOCK_CEL] [int] NOT NULL,
	[PRECIO_UNITARIO_CEL] [float] NOT NULL,
	[UBICACION_IMAGEN_CEL] [varchar](100) NOT NULL,
	[ESTADO_CEL] [bit] NOT NULL,
 CONSTRAINT [PK_CELULARES] PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CELULARES] ([ID_MODELO], [ID_MARCA_CEL], [DESCRIPCION_CEL], [STOCK_CEL], [PRECIO_UNITARIO_CEL], [UBICACION_IMAGEN_CEL], [ESTADO_CEL]) VALUES (N'A30', N'M00002', N'RAM 3GB, ROM 32GB,BATERIA 3000 Mah, PANTALLA 6,2', 10, 21999, N'../Imagenes/samsungA30', 1)
INSERT [dbo].[CELULARES] ([ID_MODELO], [ID_MARCA_CEL], [DESCRIPCION_CEL], [STOCK_CEL], [PRECIO_UNITARIO_CEL], [UBICACION_IMAGEN_CEL], [ESTADO_CEL]) VALUES (N'G7POWER', N'M00003', N'RAM 3GB, ROM 32 GB, BATERIA 5000 Mah', 10, 18999, N'../imagenes/motog7power', 1)
/****** Object:  StoredProcedure [dbo].[ModificarRol]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarRol]
@IDROL varchar (1),
@ROL varchar (20)
AS
 UPDATE ROL
	SET ROL = @ROL
		WHERE ID_ROL = @IDROL
GO
/****** Object:  StoredProcedure [dbo].[ModificarMarca]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarMarca]
 @IDMARCA varchar(15),
 @NOMBREMARCA varchar(30)
AS
 UPDATE MARCAS
	SET NOMBRE_MARCA = @NOMBREMARCA
	   WHERE ID_MARCA = @IDMARCA
GO
/****** Object:  StoredProcedure [dbo].[ModificarFormaDePago]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarFormaDePago]
 @IDFORMAPAGOFP char (1),
 @FORMAPAGOFP varchar (20)
AS
 UPDATE  FORMA_PAGO
    SET FORMAPAGO_FP = @FORMAPAGOFP
	WHERE ID_FORMAPAGO_FP = @IDFORMAPAGOFP
GO
/****** Object:  StoredProcedure [dbo].[ModificarFormaDeEnvio]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarFormaDeEnvio]
 @IDFORMAENVIO char (1),
 @FORMAENVIO varchar (20)
AS
  UPDATE FORMA_ENVIO
   SET FORMAENVIO_FE = @FORMAENVIO
	WHERE ID_FORMAENVIO_FE = @IDFORMAENVIO
GO
/****** Object:  StoredProcedure [dbo].[AltaRol]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
        --- ROL ---
----------------------------------

CREATE Procedure [dbo].[AltaRol]
@IDROL varchar (1),
@ROL varchar (20)
AS
 INSERT INTO ROL(ID_ROL,
		 ROL)
	 SELECT @IDROL,
		  @ROL
GO
/****** Object:  StoredProcedure [dbo].[AltaMarca]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------
       -- MARCAS --
-------------------------------
CREATE Procedure [dbo].[AltaMarca]
 @IDMARCA varchar(15),
 @NOMBREMARCA varchar(30)
AS
 INSERT INTO MARCAS (ID_MARCA,
		 NOMBRE_MARCA)
	SELECT @IDMARCA,
		 @NOMBREMARCA
GO
/****** Object:  StoredProcedure [dbo].[AltaFormaDePago]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
    --- FORMA DE PAGO ---
----------------------------------

CREATE Procedure [dbo].[AltaFormaDePago]
 @IDFORMAPAGOFP char (1),
 @FORMAPAGOFP varchar (20)
AS
 INSERT INTO FORMA_PAGO(ID_FORMAPAGO_FP,
		FORMAPAGO_FP)
	SELECT @IDFORMAPAGOFP,
		@FORMAPAGOFP
GO
/****** Object:  StoredProcedure [dbo].[AltaFormaDeEnvio]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
    --- FORMA DE ENVIO ---
----------------------------------

CREATE Procedure [dbo].[AltaFormaDeEnvio]
 @IDFORMAENVIOFE char (1),
 @FORMAENVIOFE varchar (20)
AS
 INSERT INTO FORMA_ENVIO (ID_FORMAENVIO_FE,
		 FORMAENVIO_FE)
	SELECT @IDFORMAENVIOFE,
		 @FORMAENVIOFE
GO
/****** Object:  StoredProcedure [dbo].[BajaLogicaMarca]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[BajaLogicaMarca]
@IDMARCA varchar(15)
AS
  UPDATE MARCAS
	Set ESTADO_MARCA = 0
		WHERE ID_MARCA = @IDMARCA
GO
/****** Object:  StoredProcedure [dbo].[BajaLogicaFormaDePago]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[BajaLogicaFormaDePago]
@IDFORMAPAGOFP char (1)
AS
 UPDATE FORMA_PAGO
   Set ESTADO_FP = 0
     WHERE ID_FORMAPAGO_FP = @IDFORMAPAGOFP
GO
/****** Object:  StoredProcedure [dbo].[BajaLogicaFormaDeEnvio]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[BajaLogicaFormaDeEnvio]
@IDFORMAENVIOFE char (1)
AS
 UPDATE FORMA_ENVIO
  Set ESTADO_FE = 0
   WHERE ID_FORMAENVIO_FE = @IDFORMAENVIOFE
GO
/****** Object:  StoredProcedure [dbo].[BajaLogicaCelular]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[BajaLogicaCelular]
@IDMODELOCEL varchar(15)
AS
UPDATE CELULARES
	Set ESTADO_CEL = 0
	WHERE ID_MODELO = @IDMODELOCEL
GO
/****** Object:  StoredProcedure [dbo].[ModificarCelular]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarCelular]
 @IDMODELOCEL varchar(15),
 @IDMARCACEL varchar(15),  
 @PRECIOUNITARIOCEL float,
 @STOCKCEL int,
 @DESCRIPCIONCEL varchar(100),
 @UBICACIONIMAGENCEL varchar(100)
AS
 UPDATE CELULARES
  SET ID_MARCA_CEL = @IDMARCACEL,
    PRECIO_UNITARIO_CEL = @PRECIOUNITARIOCEL,
    STOCK_CEL = @STOCKCEL,
    DESCRIPCION_CEL = @DESCRIPCIONCEL,
    UBICACION_IMAGEN_CEL = @UBICACIONIMAGENCEL
    WHERE ID_MODELO = @IDMODELOCEL
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[DNI_USU] [varchar](15) NOT NULL,
	[NOMBRE_USU] [varchar](30) NOT NULL,
	[APELLIDO_USU] [varchar](30) NOT NULL,
	[TELEFONO_USU] [varchar](20) NOT NULL,
	[ID_PROVINCIA_USU] [int] NOT NULL,
	[ID_LOCALIDAD_USU] [int] NOT NULL,
	[DIRECCION_USU] [varchar](30) NOT NULL,
	[CONTRASEÑA] [varchar](15) NOT NULL,
	[ID_ROL_USU] [varchar](1) NOT NULL references ROL(ID_ROL),
	[ESTADO_USU] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[DNI_USU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) VALUES (N'29183748', N'ADRIANA', N'RUIZ', N'1556263821', 5, 3460, N'BELGRANO 738', N'2222', N'C', 1)
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) VALUES (N'35273842', N'MARCELA', N'SANCHEZ', N'1583959345', 1, 1426, N'PERON 1294', N'4321', N'E', 1)
INSERT [dbo].[USUARIOS] ([DNI_USU], [NOMBRE_USU], [APELLIDO_USU], [TELEFONO_USU], [ID_PROVINCIA_USU], [ID_LOCALIDAD_USU], [DIRECCION_USU], [CONTRASEÑA], [ID_ROL_USU], [ESTADO_USU]) VALUES (N'37829483', N'JOSE', N'AVALOS', N'1582839495', 2, 1650, N'INDEPENDENCIA 583', N'1111', N'C', 1)
/****** Object:  StoredProcedure [dbo].[AltaCelular]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------
     -- CELULAR --
------------------------
CREATE Procedure [dbo].[AltaCelular]
 @IDMODELOCEL varchar(15),
 @IDMARCACEL varchar(15),  
 @PRECIOUNITARIOCEL float,
 @STOCKCEL int,
 @DESCRIPCIONCEL varchar(100),
 @UBICACIONIMAGENCEL varchar(100)
AS
 INSERT INTO CELULARES (ID_MODELO,
		 ID_MARCA_CEL, 
		 PRECIO_UNITARIO_CEL,
		 STOCK_CEL,
		 DESCRIPCION_CEL,
		 UBICACION_IMAGEN_CEL)
SELECT @IDMODELOCEL,
		 @IDMARCACEL,
		 @PRECIOUNITARIOCEL,
		 @STOCKCEL,
		 @DESCRIPCIONCEL,
		 @UBICACIONIMAGENCEL
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[ID_VTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USU_VTA] [varchar](15) NOT NULL,
	[FECHA_VTA] [date] NOT NULL,
	[ID_FORMAENVIO_VTA] [char](1) NOT NULL,
	[ID_FORMAPAGO_VTA] [char](1) NOT NULL,
	[IMPORTETOTAL] [float] NOT NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_VTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VENTAS] ON
INSERT [dbo].[VENTAS] ([ID_VTA], [ID_USU_VTA], [FECHA_VTA], [ID_FORMAENVIO_VTA], [ID_FORMAPAGO_VTA], [IMPORTETOTAL]) VALUES (1, N'37829483', CAST(0x80400B00 AS Date), N'D', N'E', 21999)
INSERT [dbo].[VENTAS] ([ID_VTA], [ID_USU_VTA], [FECHA_VTA], [ID_FORMAENVIO_VTA], [ID_FORMAPAGO_VTA], [IMPORTETOTAL]) VALUES (2, N'48372938', CAST(0x80400B00 AS Date), N'S', N'D', 40998)
SET IDENTITY_INSERT [dbo].[VENTAS] OFF
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------
    --  USUARIOS  --
--------------------------    
CREATE Procedure [dbo].[AltaUsuario]
 @DNIUSU varchar(15),
 @NOMBREUSU varchar(30),
 @APELLIDOUSU varchar(30),
 @TELEFONOUSU varchar(20),
 @PROVINCIAUSU int,
 @LOCALIDADUSU int,
 @DIRRECIONUSU varchar(30),
 @CONTRASEÑA varchar(15),
 @ROL varchar(1)
AS
 INSERT INTO USUARIOS (DNI_USU,
		NOMBRE_USU,
		APELLIDO_USU,
		TELEFONO_USU,
		ID_PROVINCIA_USU,
		ID_LOCALIDAD_USU,
		DIRECCION_USU,
		CONTRASEÑA,
		ID_ROL_USU)
   SELECT	@DNIUSU,
		@NOMBREUSU,
		@APELLIDOUSU, 
		@TELEFONOUSU,
		@PROVINCIAUSU,
		@LOCALIDADUSU,
		@DIRRECIONUSU,
		@CONTRASEÑA,
		@ROL
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ModificarUsuario]
 @DNIUSU varchar(15),
 @NOMBREUSU varchar(30),
 @APELLIDOUSU varchar(30),
 @TELEFONOUSU varchar(20),
 @PROVINCIAUSU int,
 @LOCALIDADUSU int,
 @DIRRECIONUSU varchar(30),
 @CONTRASEÑA varchar(15),
 @ROL varchar(1)
AS
  UPDATE USUARIOS
	SET	NOMBRE_USU = @NOMBREUSU, 
		APELLIDO_USU = @APELLIDOUSU, 
		DNI_USU = @DNIUSU, 
		TELEFONO_USU = @TELEFONOUSU, 
		ID_PROVINCIA_USU=@PROVINCIAUSU,
		ID_LOCALIDAD_USU=@LOCALIDADUSU,
		DIRECCION_USU = @DIRRECIONUSU, 
		CONTRASEÑA = @CONTRASEÑA, 
		ID_ROL_USU = @ROL
	  WHERE DNI_USU = @DNIUSU
GO
/****** Object:  StoredProcedure [dbo].[BajaLogicaUsuario]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[BajaLogicaUsuario]
@DNIUSU varchar(15)
AS
 UPDATE USUARIOS
	Set ESTADO_USU = 0
		WHERE DNI_USU = @DNIUSU
GO
/****** Object:  Table [dbo].[DETALLES_VENTA]    Script Date: 12/16/2019 01:06:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLES_VENTA](
	[ID_VTA_DV] [int] NOT NULL,
	[ID_DV] [int] IDENTITY(1,1) NOT NULL,
	[ID_MODELO_DV] [varchar](15) NOT NULL,
	[CANTIDAD_DV] [int] NOT NULL,
	[PU_DV] [float] NOT NULL,
 CONSTRAINT [PK_DETALLES_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_DV] ASC,
	[ID_VTA_DV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DETALLES_VENTA] ON
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) VALUES (1, 1, N'A30', 1, 21999)
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) VALUES (2, 2, N'A30', 1, 21999)
INSERT [dbo].[DETALLES_VENTA] ([ID_VTA_DV], [ID_DV], [ID_MODELO_DV], [CANTIDAD_DV], [PU_DV]) VALUES (2, 3, N'G7POWER', 1, 18999)
SET IDENTITY_INSERT [dbo].[DETALLES_VENTA] OFF
/****** Object:  StoredProcedure [dbo].[AltaVenta]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
        --- VENTAS ---
----------------------------------

CREATE Procedure [dbo].[AltaVenta]
@IDUSUVTA varchar(15),
@IDFORMAENVIOVTA char(1),
@IDFORMAPAGOVTA char(1),
@IMPORTE float
AS
INSERT INTO VENTAS (ID_USU_VTA,
		FECHA_VTA, 
		ID_FORMAENVIO_VTA, 
		ID_FORMAPAGO_VTA, 
		IMPORTETOTAL)
    SELECT  @IDUSUVTA, 
		GETDATE(), 
		@IDFORMAENVIOVTA, 
		@IDFORMAPAGOVTA, 
		@IMPORTE
GO
/****** Object:  StoredProcedure [dbo].[AltaDetalleVenta]    Script Date: 12/16/2019 01:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------
    --- DETALLE DE VENTAS ---
----------------------------------

CREATE Procedure [dbo].[AltaDetalleVenta]
@IDMODELODV varchar (15),
@CANTIDADDV int,
@PUDV float
AS
 INSERT INTO DETALLES_VENTA(ID_MODELO_DV,
		CANTIDAD_DV,
		PU_DV)
SELECT @IDMODELODV,
		 @CANTIDADDV,
		 @PUDV
GO
/****** Object:  Default [DF__CELULARES__STOCK__34C8D9D1]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[CELULARES] ADD  DEFAULT ((1)) FOR [STOCK_CEL]
GO
/****** Object:  Default [DF__CELULARES__ESTAD__35BCFE0A]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[CELULARES] ADD  DEFAULT ((1)) FOR [ESTADO_CEL]
GO
/****** Object:  Default [DF__FORMA_ENV__ESTAD__15502E78]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[FORMA_ENVIO] ADD  DEFAULT ((1)) FOR [ESTADO_FE]
GO
/****** Object:  Default [DF__FORMA_PAG__ESTAD__1273C1CD]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[FORMA_PAGO] ADD  DEFAULT ((1)) FOR [ESTADO_FP]
GO
/****** Object:  Default [DF__MARCAS__ESTADO_M__0425A276]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((1)) FOR [ESTADO_MARCA]
GO
/****** Object:  Default [DF__USUARIOS__ESTADO__0F975522]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [ESTADO_USU]
GO
/****** Object:  Default [DF__VENTAS__ID_FORMA__182C9B23]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((1)) FOR [ID_FORMAENVIO_VTA]
GO
/****** Object:  Default [DF__VENTAS__ID_FORMA__1920BF5C]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((1)) FOR [ID_FORMAPAGO_VTA]
GO
/****** Object:  ForeignKey [FK_CELULARES]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[CELULARES]  WITH CHECK ADD  CONSTRAINT [FK_CELULARES] FOREIGN KEY([ID_MARCA_CEL])
REFERENCES [dbo].[MARCAS] ([ID_MARCA])
GO
ALTER TABLE [dbo].[CELULARES] CHECK CONSTRAINT [FK_CELULARES]
GO
/****** Object:  ForeignKey [FK_ID_MODELO_DV]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_ID_MODELO_DV] FOREIGN KEY([ID_MODELO_DV])
REFERENCES [dbo].[CELULARES] ([ID_MODELO])
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FK_ID_MODELO_DV]
GO
/****** Object:  ForeignKey [FK_VENTAS_DV]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[DETALLES_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_DV] FOREIGN KEY([ID_VTA_DV])
REFERENCES [dbo].[VENTAS] ([ID_VTA])
GO
ALTER TABLE [dbo].[DETALLES_VENTA] CHECK CONSTRAINT [FK_VENTAS_DV]
GO
/****** Object:  ForeignKey [FK__LOCALIDAD__cod_p__014935CB]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD FOREIGN KEY([cod_provincia])
REFERENCES [dbo].[PROVINCIAS] ([cod_provincia])
GO
/****** Object:  ForeignKey [FK__USUARIOS__ID_LOC__0EA330E9]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD_USU])
REFERENCES [dbo].[LOCALIDADES] ([cod_postal])
GO
/****** Object:  ForeignKey [FK__USUARIOS__ID_PRO__0DAF0CB0]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ID_PROVINCIA_USU])
REFERENCES [dbo].[PROVINCIAS] ([cod_provincia])
GO
/****** Object:  ForeignKey [FK_VENTAS_FE]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_FE] FOREIGN KEY([ID_FORMAENVIO_VTA])
REFERENCES [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_FE]
GO
/****** Object:  ForeignKey [FK_VENTAS_FP]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_FP] FOREIGN KEY([ID_FORMAPAGO_VTA])
REFERENCES [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_FP]
GO
/****** Object:  ForeignKey [FK_VENTAS_USU]    Script Date: 12/16/2019 01:06:25 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USU] FOREIGN KEY([ID_USU_VTA])
REFERENCES [dbo].[USUARIOS] ([DNI_USU])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USU]
GO
