USE [master]
GO
/****** Object:  Database [FINAL_LAB]    Script Date: 10/21/2019 16:53:21 ******/
CREATE DATABASE [FINAL_LAB] ON  PRIMARY 
( NAME = N'MOVICOM_DAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MOVICOM.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MOVICOM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MOVICOM_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINAL_LAB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINAL_LAB]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID_PROV] [varchar](15) NOT NULL,
	[RAZON_SOCIAL_PROV] [varchar](15) NOT NULL,
	[DIRECCION_PROV] [varchar](30) NULL,
	[TELEFONO_PROV] [varchar](20) NOT NULL,
	[ESTADO_PROV] [bit] NOT NULL,
 CONSTRAINT [PK_PROVEEDORES] PRIMARY KEY CLUSTERED 
(
	[ID_PROV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID_MARCA] [varchar](15) NOT NULL,
	[NOMBRE_MARCA] [varchar](20) NOT NULL,
	[ESTADO_MARCA] [bit] NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMA_PAGO]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMA_PAGO](
	[ID_FORMAPAGO_FP] [char](1) NOT NULL,
	[FORMAPAGO_FP] [varchar](20) NOT NULL,
	[ESTADO_FP] [bit] NOT NULL,
 CONSTRAINT [PK_FORMA_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMAPAGO_FP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMA_ENVIO]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMA_ENVIO](
	[ID_FORMAENVIO_FE] [char](1) NOT NULL,
	[FORMAENVIO_FE] [varchar](20) NOT NULL,
	[ESTADO_FE] [bit] NOT NULL,
 CONSTRAINT [PK_FORMA_ENVIO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMAENVIO_FE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID_EMPLE] [varchar](15) NOT NULL,
	[NOMBRE_EMPLE] [varchar](30) NOT NULL,
	[APELLIDO_EMPLE] [varchar](30) NOT NULL,
	[DNI_EMPLE] [varchar](15) NOT NULL,
	[LEGAJO_EMPLE] [varchar](15) NOT NULL,
	[TELEFONO_EMPLE] [varchar](20) NOT NULL,
	[DIRECCION_EMPLE] [varchar](30) NOT NULL,
	[ESTADO_EMPLE] [bit] NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USU] [varchar](15) NOT NULL,
	[CLAVE_USU] [varchar](15) NOT NULL,
	[NIVEL_DE_ACCESO_USU] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [varchar](15) NOT NULL,
	[NOMBRE_CLI] [varchar](15) NOT NULL,
	[APELLIDO_CLI] [varchar](15) NOT NULL,
	[DIRECCION_CLI] [varchar](30) NULL,
	[TELÉFONO_CLI] [varchar](20) NOT NULL,
	[ESTADO_CLI] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CELULARES]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CELULARES](
	[ID_MODELO] [varchar](15) NOT NULL,
	[ID_MARCA_CEL] [varchar](15) NOT NULL,
	[ID_PROVEEDOR_CEL] [varchar](15) NOT NULL,
	[DESCRIPCION_CEL] [varchar](100) NOT NULL,
	[PRECIO_UNITARIO_CEL] [float] NOT NULL,
	[ESTADO_CEL] [bit] NOT NULL,
	[UBICACION_IMAGEN_CEL] [varchar](25) NOT NULL,
 CONSTRAINT [PK_MODELOS] PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTAS](
	[ID_VTA] [varchar](50) NOT NULL,
	[ID_CLI_VTA] [varchar](15) NOT NULL,
	[ID_EMPLE_VTA] [varchar](15) NOT NULL,
	[FECHA_VTA] [date] NOT NULL,
	[ID_FORMAENVIO_VTA] [char](1) NOT NULL,
	[ID_FORMAPAGO_VTA] [char](1) NOT NULL,
	[IMPORTE] [float] NOT NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_VTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVxCEL]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVxCEL](
	[ID_PROV_MP] [varchar](15) NOT NULL,
	[ID_MODELO_MP] [varchar](15) NOT NULL,
	[UNIDAD_STOCK_MP] [int] NOT NULL,
	[ESTADO_MP] [bit] NOT NULL,
 CONSTRAINT [PK_PROVxCEL] PRIMARY KEY CLUSTERED 
(
	[ID_PROV_MP] ASC,
	[ID_MODELO_MP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLES_VENTAS]    Script Date: 10/21/2019 16:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLES_VENTAS](
	[ID_DV] [varchar](50) NOT NULL,
	[ID_VTA_DV] [varchar](50) NOT NULL,
	[ID_PROV_DV] [varchar](15) NOT NULL,
	[ID_MODELO_DV] [varchar](15) NOT NULL,
	[CANTIDAD_DV] [int] NOT NULL,
	[PU_DV] [float] NOT NULL,
 CONSTRAINT [PK_DETALLES_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_DV] ASC,
	[ID_VTA_DV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__PROVEEDOR__ESTAD__060DEAE8]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [ESTADO_PROV]
GO
/****** Object:  Default [DF__MARCAS__ESTADO_M__7F60ED59]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[MARCAS] ADD  DEFAULT ((1)) FOR [ESTADO_MARCA]
GO
/****** Object:  Default [DF__FORMA_PAG__ESTAD__15502E78]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[FORMA_PAGO] ADD  DEFAULT ((1)) FOR [ESTADO_FP]
GO
/****** Object:  Default [DF__FORMA_ENV__ESTAD__182C9B23]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[FORMA_ENVIO] ADD  DEFAULT ((1)) FOR [ESTADO_FE]
GO
/****** Object:  Default [DF__EMPLEADOS__ESTAD__0BC6C43E]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[EMPLEADOS] ADD  DEFAULT ((1)) FOR [ESTADO_EMPLE]
GO
/****** Object:  Default [DF__CLIENTES__ESTADO__08EA5793]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [ESTADO_CLI]
GO
/****** Object:  Default [DF__CELULARES__ESTAD__03317E3D]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[CELULARES] ADD  DEFAULT ((1)) FOR [ESTADO_CEL]
GO
/****** Object:  Default [DF__VENTAS__ID_FORMA__1DE57479]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((1)) FOR [ID_FORMAENVIO_VTA]
GO
/****** Object:  Default [DF__VENTAS__ID_FORMA__1FCDBCEB]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS] ADD  DEFAULT ((1)) FOR [ID_FORMAPAGO_VTA]
GO
/****** Object:  Default [DF__PROVxCEL__UNIDAD__117F9D94]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[PROVxCEL] ADD  DEFAULT ((0)) FOR [UNIDAD_STOCK_MP]
GO
/****** Object:  Default [DF__PROVxCEL__ESTADO__1273C1CD]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[PROVxCEL] ADD  DEFAULT ((1)) FOR [ESTADO_MP]
GO
/****** Object:  ForeignKey [FK__CELULARES__ID_MA__023D5A04]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[CELULARES]  WITH CHECK ADD FOREIGN KEY([ID_MARCA_CEL])
REFERENCES [dbo].[MARCAS] ([ID_MARCA])
GO
/****** Object:  ForeignKey [FK__VENTAS__ID_CLI_V__1B0907CE]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([ID_CLI_VTA])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
/****** Object:  ForeignKey [FK__VENTAS__ID_EMPLE__1BFD2C07]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([ID_EMPLE_VTA])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLE])
GO
/****** Object:  ForeignKey [FK__VENTAS__ID_FORMA__1CF15040]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([ID_FORMAENVIO_VTA])
REFERENCES [dbo].[FORMA_ENVIO] ([ID_FORMAENVIO_FE])
GO
/****** Object:  ForeignKey [FK__VENTAS__ID_FORMA__1ED998B2]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([ID_FORMAPAGO_VTA])
REFERENCES [dbo].[FORMA_PAGO] ([ID_FORMAPAGO_FP])
GO
/****** Object:  ForeignKey [FK__PROVxCEL__ID_MOD__108B795B]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[PROVxCEL]  WITH CHECK ADD FOREIGN KEY([ID_MODELO_MP])
REFERENCES [dbo].[CELULARES] ([ID_MODELO])
GO
/****** Object:  ForeignKey [FK__PROVxCEL__ID_PRO__0F975522]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[PROVxCEL]  WITH CHECK ADD FOREIGN KEY([ID_PROV_MP])
REFERENCES [dbo].[PROVEEDORES] ([ID_PROV])
GO
/****** Object:  ForeignKey [FK__DETALLES___ID_VT__22AA2996]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD FOREIGN KEY([ID_VTA_DV])
REFERENCES [dbo].[VENTAS] ([ID_VTA])
GO
/****** Object:  ForeignKey [FK_DETALLES_VENTAS]    Script Date: 10/21/2019 16:53:22 ******/
ALTER TABLE [dbo].[DETALLES_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_VENTAS] FOREIGN KEY([ID_PROV_DV], [ID_MODELO_DV])
REFERENCES [dbo].[PROVxCEL] ([ID_PROV_MP], [ID_MODELO_MP])
GO
ALTER TABLE [dbo].[DETALLES_VENTAS] CHECK CONSTRAINT [FK_DETALLES_VENTAS]
GO
