USE [FINAL_LAB]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 11/17/2019 22:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROVINCIAS](
	[cod_provincia] [int] NOT NULL,
	[descripcion_provincia] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[cod_provincia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (1, N'CABA')
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (2, N'Buenos Aires')
INSERT [PROVINCIAS] ([cod_provincia], [descripcion_provincia]) VALUES (3, N'Catamarca')
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 11/17/2019 22:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOCALIDADES](
	[cod_postal] [int] NOT NULL,
	[desc_localidad] [nvarchar](50) NULL,
	[cod_provincia] [int] NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[cod_postal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1000, N'RECOLETA', 1)
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1002, N'MONTSERRAT', 1)
INSERT [LOCALIDADES] ([cod_postal], [desc_localidad], [cod_provincia]) VALUES (1004, N'PALERMO', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
/****** Object:  ForeignKey [FK__LOCALIDAD__cod_p__4D94879B]    Script Date: 11/17/2019 22:26:03 ******/
ALTER TABLE [LOCALIDADES]  WITH CHECK ADD FOREIGN KEY([cod_provincia])
REFERENCES [PROVINCIAS] ([cod_provincia])
GO
