* {
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
}


body {
    background: #ffffff;
    display: flex;
    min-height: 1000vh;
}

#Cabecera {
    height: 100px;
    width: 1080px;
    background: linear-gradient(#ffffff, #00c3ff, #00f5fc);
    color: #ffffff;
    text-shadow: #001a9b;
    border: 1px solid #19009b;
    border-radius: 0px 0px 10px 10px;
    z-index: 2;
    margin: auto;
    box-shadow: 0px 0px 10px #002d9b inset;
}

#ContenidoCabecera {
    width: 1080px;
    margin: auto;
}

#BarraHorizontal {
    height: 40px;
    background: #0075b2;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px #000000 inset;
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px outset #030d62;
    border-radius:5px;
    box-shadow: 0px 0px 2px inset #373737;
    opacity: 0,9;
}

    li:hover {
        opacity: 1;
    }

    li:active {
        transform: scale(0.9);
    }

    li > a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        box-shadow: 0px 0px 5px inset #1ca0e4;
        font-weight: bold;
        font-size: 20px;
    }

#Logo {
    width: 10%;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: double #00229b;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #002d9b inset;
}

    #Logo > img {
        box-shadow: 0px 0px 19px #000000;
        border: 3px solid #19009b;
        height: 150px;
    }

#Titulo {
    width: 80%;
    float: left;
    text-size-adjust: auto;
}

    #Titulo > h1 {
        margin: 10px;
    }

    #Titulo > h3 {
        margin: 10px;
    }

#Bajo {
    width: 1080px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(1, 59, 44, 0.85);
}

#ColumnaIz, #ColumnaDer {
    float: left;
    width: 20%;
    min-height: 1000px;
    height: inherit;
    background-color: #00a8ff;
    text-align: center;
}

#MenuContextual {
    list-style-type:none;
    padding: 0;
    margin: 0;
    width:95%;
}

    #MenuContextual > li {
        padding: 10px;
        text-align: center;
        border: 1px outset #1dd1a3;
        background: linear-gradient(#0094ff,#6daef9);
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0px 15px 15px inset #000000;
        width: 100%;
    }

        #MenuContextual > li:hover {
            opacity: 1;
        }

        #MenuContextual > li:active {
            transform: scale(0.95);
        }

        #MenuContextual > li > a {
            display: block;
            position: center;
            color: #000000;
            text-decoration: none;
            box-shadow: 0px 0px 10px inset #000000;
            font-weight: bold;
            font-size: 20px;
            padding: 5px;
            width: 100%;
            margin: 5px 0;
        }

#ColumnaPpal {
    float: left;
    width: 60%;
    min-height: 900px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #000000 inset;
    text-align: center;
    margin: auto;
}

    #ColumnaPpal > h1 {
        margin: 10px 15px;
        text-align: center;
        background: linear-gradient(#0094ff,#00ffff);
        color: #ffffff;
    }

    #ColumnaPpal > h2 {
        margin: 20px 5px;
        text-align: center;
    }

    #ColumnaPpal > p {
        margin: 10px 25px;
        text-align: justify;
    }

    #ColumnaPpal > img {
        box-shadow: 0px 0px 15px #000000;
        position: center;
        margin: 35px 5px;
    }

.Form {
    margin: auto;
    width: 95%;
    max-width: 1000px;
    background: linear-gradient(#0094ff,#00ffff);
    padding: 10px;
    border: 2px solid #19009b;
}

    .Form > h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        border-bottom-color: #ffffff;
        border-bottom: solid;
    }

.ControlesASP {
    display: block;
    padding: 5px;
    margin: 5px 15px 5px 0;
    font-size: 20px;
}



.Boton {
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    background: linear-gradient(#00c3ff,#0075b2);
    border: 0;
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

    .Boton:hover {
        opacity: 1;
    }

    .Boton:active {
        transform: scale(0.95);
    }
    .Boton:disabled {
        background: linear-gradient(#96e5fe,#6496b0)
    }
    .Boton:enabled {
        background: linear-gradient(#00c3ff,#0075b2);
    }


#Productos {
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #000000 inset;
    text-align: left;
    color: #ffffff;
}

    #Productos > img{
        box-shadow: 0px 0px 15px #000000;
        position: center;
        height: 100px;
        border: 5px solid #09ecb2;
        image-rendering: optimizeSpeed;
        margin: 5px 5px 5px 5px;
    }

#Pie {
    height: 80px;
    background-color: #0075b2;
    border-radius: 0px 0px 20px 20px;
    clear: both;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
}

#lblEstado{
    color:red;
}

.rule {
    border-top: 1px solid #000000;
    margin: 10px 0px;
}

.auto-style1 {
    width: 200px;
}

.auto-style2 {
    width: 268px;
}

.auto-style3 {
    width: 200px;
}



.Label {
    width: 20%;
    font-size:20px;
    text-align:left;
    font-size:20px;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}
.LabelLarga {
    width: 40%;
    text-align: left;
    font-size: 20px;
    padding: 3px 10px;
    margin: 8px;
    display: inline-block;
}
.LabelNegrita {
    width: 24%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

.LabelNegritaLarga {
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

.LabelNegritaLargaCenter {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

.LabelBlanca {
    color: white;
    font-weight: bold;
    width: 80%;
    font-size: 20px;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

.DropDownList {
    width: 30%;
    font-size:15px;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

.DropDownListFull {
    width: 70%;
    font-size: 15px;
    padding: 3px 10px;
    margin: 8px 0;
    display: inline-block;
}

#ColIzCarrito {
    width: 40%;
    text-align: left;
    margin-top: 0;
    float:left;
    display:inline;
}

#ColDerCarrito {
    width: 40%;
    text-align: left;
    margin-top: 0;
    float:right;
    display:inline;
}
